@model IEnumerable<Adopcja_2024.Models.Zwierzak>

@{
    ViewData["Title"] = "Logowanie";
}

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<div class="srodek">
    <div class="menu_user">
        <ul>
            <a asp-controller="Osoba" asp-action="Index" asp-route-id="@HttpContextAccessor?.HttpContext?.Request.Cookies["CookieUserID"]">
                <img src="~/img/uzytkownik.svg" alt="Dane">
            <li>Dane</li>
            </a>
            <a asp-controller="Uzytkownik" asp-action="Ogloszenia">
                <img src="~/img/kalendarz.svg" alt="Ogłoszenia">
            <li>Ogłoszenia</li>
            </a>
            <a asp-controller="Uzytkownik" asp-action="Zwierzaki">
                <img src="~/img/logo.svg" alt="Zwierzęta">
            <li>Zwierzęta</li>
            </a>
            <a asp-controller="Uzytkownik" asp-action="Rezerwacja">
                <img src="~/img/serce.svg" alt="Rezerwacje">
            <li>Rezerwacje</li>
            </a>
            <a asp-controller="Login" asp-action="Logout">
                <img src="~/img/wyloguj.svg" alt="Wyloguj się">
            <li>Wyloguj się</li>
            </a>

        </ul>
    </div>

    <div class="prawy">
        <header>
            <h2>Zwierzaki</h2>
        </header>

        <div class="ogloszenia">
            <div class="zwierzaki">
                @foreach (var item in Model.Where(z => z.czy_adoptowany == false))
                {
                    <div class="zwierzak">
                        @if (item.zdjecie != null)
                        {
                            <img class="zdj_zwierzak" src="data:image/jpeg;base64,@Convert.ToBase64String(item.zdjecie)" alt="Zdjęcie" />
                        }
                        else
                        {
                            <img class="zdj_zwierzak" src="~/img/lapki3.svg" />
                        }

                        <div class="imie">
                            <img src="~/img/lapa.svg" />
                            <p>@item.imie</p>
                        </div>

                        <div class="krotki_opis">
                            <ul>
                                <li>
                                    <img src="~/img/plcie.svg" />
                                    @if (item.czy_samiczka)
                                    {
                                        <p>Samiczka</p>
                                    }
                                    else
                                    {
                                        <p>Samiec</p>
                                    }
                                </li>
                                <li>
                                    <img src="~/img/wiek.svg" />
                                    <p>@item.Wiek.wiek</p>
                                </li>
                                <li>
                                    <img src="~/img/gatunek.svg" />
                                    <p>@item.Rasa.Gatunek.nazwa</p>
                                </li>
                                <li>
                                    <img src="~/img/lapa.svg" />
                                    <p>@item.Rasa.nazwa</p>
                                </li>
                            </ul>
                        </div>

                        <div class="przycisk_div">
                        </div>
                        <div class="przycisk_div">
                            <a class="ogl_wiecej" asp-controller="Zwierzak" asp-action="Edit" asp-route-id="@item.id_zwierzak"><p>Edytuj</p></a>
                        </div>
                        <div class="przycisk_div">
                            <a class="ogl_wiecej" asp-controller="Uzytkownik" asp-action="Adoptuj" asp-route-id_zwierzak="@item.id_zwierzak"><p>Zaadoptowany</p></a>
                        </div>
                        <div class="przycisk_div">
                            <a class="ogl_wiecej ogl_usun" asp-controller="Zwierzak" asp-action="Delete" asp-route-id="@item.id_zwierzak"><p>Usuń</p></a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <header>
            <h2>Zwierzaki Oddane do adopcji</h2>
        </header>

        <div class="ogloszenia">
            <div class="zwierzaki">
                @foreach (var item in Model.Where(z => z.czy_adoptowany == true))
                {
                    <div class="zwierzak">
                        @if (item.zdjecie != null)
                        {
                            <img class="zdj_zwierzak" src="data:image/jpeg;base64,@Convert.ToBase64String(item.zdjecie)" alt="Zdjęcie" />
                        }
                        else
                        {
                            <img class="zdj_zwierzak" src="~/img/lapki3.svg" />
                        }

                        <div class="imie">
                            <img src="~/img/lapa.svg" />
                            <p>@item.imie</p>
                        </div>

                        <div class="krotki_opis">
                            <ul>
                                <li>
                                    <img src="~/img/plcie.svg" />
                                    @if (item.czy_samiczka)
                                    {
                                        <p>Samiczka</p>
                                    }
                                    else
                                    {
                                        <p>Samiec</p>
                                    }
                                </li>
                                <li>
                                    <img src="~/img/wiek.svg" />
                                    <p>@item.Wiek.wiek</p>
                                </li>
                                <li>
                                    <img src="~/img/gatunek.svg" />
                                    <p>@item.Rasa.Gatunek.nazwa</p>
                                </li>
                                <li>
                                    <img src="~/img/lapa.svg" />
                                    <p>@item.Rasa.nazwa</p>
                                </li>
                            </ul>
                        </div>

                        <div class="przycisk_div">
                        </div>
                        <div class="przycisk_div">
                            <a class="ogl_wiecej" asp-controller="Zwierzak" asp-action="Edit" asp-route-id="@item.id_zwierzak"><p>Edytuj</p></a>
                        </div>
                        <div class="przycisk_div">
                            <a class="ogl_wiecej ogl_usun" asp-controller="Zwierzak" asp-action="Delete" asp-route-id="@item.id_zwierzak"><p>Usuń</p></a>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>